<%- include("partials/headAdmin.ejs") %>
<div class="container">
    <div class="row admin__titulo">
        <div class="col-md-8" id="titulo">
            <h1>ACAMP 2023 - Pessoas Cadastradas</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a href="/">
                <button type="button" class="btn btn-primary">Site de cadastro</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md mt-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Adicionar
            </button>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table__pulseiras">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobre Nome</th>
                <th scope="col">Igreja</th>
                <th scope="col">Valor da pulseira</th>
                <th scope="col">Quantidade da pulseira</th>
                <th scope="col">Valor total</th>
                <th scope="col">Valor pago</th>
                <th scope="col">Status</th>
                <th scope="col">Origem</th>
              </tr>
            </thead>
            <tbody>
            <% pulseiras.forEach( p => { %>
                <tr>
                    <th scope="row"><%=p.id%></th>
                    <td scope="col"><%=p.nome%></td>
                    <td scope="col"><%=p.sobre_nome%></td>
                    <td scope="col"><%=p.igreja%></td>
                    <td scope="col"><%=p.valor_pulseira%></td>
                    <td scope="col"><%=p.qtde_pulseira%></td>
                    <td scope="col"><%=p.valor_total%></td>
                    <td scope="col"><%=p.valor_pago%></td>
                    <td scope="col"><%=p.status%></td>
                    <td scope="col"><%=p.forma_cadastro%></td>
                    <td id="<%=p.id%>">
                        <button type="button" class="btn btn-primary">i</button>
                    </td>
                  </tr>    
            <%})%>
            </tbody>
          </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar pulseira</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <form id="form_cadastrar" method="post" action="/admin/cadpulseira">
      <div class="modal-body">
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" id="igreja" name="igreja" onchange="MundarValorAdmin(this.value)">
            <option selected value="0">IBC Teresina</option>
            <option value="1">IBC Timon</option>
            <option value="2">IBC Picos</option>
            <option value="3">IBC Campos sales</option>
            <option value="3">IBC Araripina</option>
            <option value="3">IBC Pio IX</option>
            <option value="3">IBC Caxias</option>
          </select>
        </div>
        <div class="mb-3">
          <input type="hidden" class="form-control" id="qtde_pulseira" value="1">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Valor da pulseira</label>
          <input type="number" class="form-control" id="valor_pulseira" name="valor_pulseira" value="140.00">
        </div>
        <div id="campos_forms">
            <hr>
            <div class="mb-3">
              <label for="nome1" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nome1" name="nome_1" placeholder="Nome">
            </div>
            <div class="mb-3">
              <label for="sobreNome1" class="form-label">Sobre nome</label>
              <input type="text" class="form-control" id="sobrenome1" name="sobrenome_1" placeholder="Sobre nome">
            </div>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-auto">
              <label for="total_apagar" class="form-label">Total a pagar</label>
              <input type="number" class="form-control" id="total_apagar" name="total_apagar" value="140.00" placeholder="Total" disabled>  
            </div>
            <div class="col-auto">
              <label for="valor_pago" class="form-label">Valor pago</label>
              <input type="number" class="form-control" id="valor_pago" name="valor_pago" placeholder="Pago">
            </div>  
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" onclick="mudarQtdePulseiras()">Add familiares</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>  
    </div>
  </div>
</div>

<%- include("partials/end.ejs") %>