<%- include("partials/head") %>
<div class="container">
    <div class="row admin__titulo">
        <div class="col-md-8">
            <h1>ACAMP 2023 - Pessoas Cadastradas</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a href="/">
                <button type="button" class="btn btn-primary">Site de cadastro</button>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table__pulseiras">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobre Nome</th>
                <th scope="col">Igreja</th>
                <th scope="col">Valor da pulseira</th>
                <th scope="col">Quantidade da pulseira</th>
                <th scope="col">Valor total</th>
                <th scope="col">Valor pago</th>
                <th scope="col">Status</th>
                <th scope="col">Origem</th>
              </tr>
            </thead>
            <tbody>
            <% pulseiras.forEach( p => { %>
                <tr>
                    <th scope="row"><%=p.id%></th>
                    <td scope="col"><%=p.nome%></td>
                    <td scope="col"><%=p.sobre_nome%></td>
                    <td scope="col"><%=p.igreja%></td>
                    <td scope="col"><%=p.valor_pulseira%></td>
                    <td scope="col"><%=p.qtde_pulseira%></td>
                    <td scope="col"><%=p.valor_total%></td>
                    <td scope="col"><%=p.valor_pago%></td>
                    <td scope="col"><%=p.status%></td>
                    <td scope="col"><%=p.forma_cadastro%></td>
                  </tr>    
            <%})%>
            </tbody>
          </table>
    </div>
</div>