<%- include("partials/head") %>
<div class="container">
    <div class="row admin__titulo">
        <div class="col-md-8">
            <h1>ACAMP 2023 - Pessoas Cadastradas</h1>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a href="/">
                <button type="button" class="btn btn-primary">Site de cadastro</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Adicionar
            </button>
        </div>
    </div>
    <div class="row table-responsive">
        <table class="table table__pulseiras">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobre Nome</th>
                <th scope="col">Igreja</th>
                <th scope="col">Valor da pulseira</th>
                <th scope="col">Quantidade da pulseira</th>
                <th scope="col">Valor total</th>
                <th scope="col">Valor pago</th>
                <th scope="col">Status</th>
                <th scope="col">Origem</th>
              </tr>
            </thead>
            <tbody>
            <% pulseiras.forEach( p => { %>
                <tr>
                    <th scope="row"><%=p.id%></th>
                    <td scope="col"><%=p.nome%></td>
                    <td scope="col"><%=p.sobre_nome%></td>
                    <td scope="col"><%=p.igreja%></td>
                    <td scope="col"><%=p.valor_pulseira%></td>
                    <td scope="col"><%=p.qtde_pulseira%></td>
                    <td scope="col"><%=p.valor_total%></td>
                    <td scope="col"><%=p.valor_pago%></td>
                    <td scope="col"><%=p.status%></td>
                    <td scope="col"><%=p.forma_cadastro%></td>
                    <td id="<%=p.id%>">
                        <button type="button" class="btn btn-primary">i</button>
                    </td>
                  </tr>    
            <%})%>
            </tbody>
          </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>